@page
@model TripSplit.Web.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Potwierdzanie adresu e-mail";
}
<section class="ts-card">
    <h2>@ViewData["Title"]</h2>
    <p>@Model.StatusMessage</p>
</section>
